<div class="p++">
    <lumx-expansion-panel class="lumx-theme-background-dark-L6" lumx-is-open="vm.isOpen">
        <lumx-expansion-panel-header>
            <span class="pl+ lumx-typography-body1">Lorem ipsum</span>
        </lumx-expansion-panel-header>

        <lumx-expansion-panel-content>
            <div class="pl+ pr+ pb+">
                <p class="lumx-typography-subtitle1">Curabitur est gravida et libero vitae dictum.</p>
                <p class="lumx-typography-body1 lumx-theme-color-dark-L2">
                    Etiam habebis sem dicantur magna mollis euismod.
                </p>
            </div>
        </lumx-expansion-panel-content>

        <lumx-expansion-panel-footer> </lumx-expansion-panel-footer>
    </lumx-expansion-panel>
</div>
