<div class="p++">
    <lumx-expansion-panel class="lumx-theme-background-dark-L6" lumx-is-open="vm.isOpen">
        <lumx-expansion-panel-header>
            <div class="pl+" lumx-grid-container="row" lumx-grid-v-align="middle">
                <img
                    src="demo/angularjs/components/expansion-panel/partials/thumbnail-m-(36).png"
                    width="36"
                    height="36"
                /><span class="pl+ lumx-typography-body1" style="line-height:36px">With thumbnail</span>
            </div>
        </lumx-expansion-panel-header>

        <lumx-expansion-panel-content>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
        </lumx-expansion-panel-content>
    </lumx-expansion-panel>

    <lumx-expansion-panel class="mt+ lumx-theme-background-dark-L6" lumx-is-open="vm.isOpen">
        <lumx-expansion-panel-header>
            <div class="pl+" lumx-grid-container="row" lumx-grid-v-align="middle">
                <img
                    src="demo/angularjs/components/expansion-panel/partials/thumbnail-m-(36).png"
                    width="36"
                    height="36"
                />
                <div class="pl+">
                    <p class="lumx-typography-body1">With thumbnail</p>
                    <p class="lumx-typography-caption lumx-theme-color-dark-L2">And secondary text</p>
                </div>
            </div>
        </lumx-expansion-panel-header>

        <lumx-expansion-panel-content>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
        </lumx-expansion-panel-content>
    </lumx-expansion-panel>

    <lumx-expansion-panel class="mt+ lumx-theme-background-dark-L6" lumx-is-open="vm.isOpen">
        <lumx-expansion-panel-header>
            <div class="pl+" lumx-grid-container="row" lumx-grid-v-align="space-between">
                <p class="lumx-typography-body1" style="line-height:36px">With secondary action</p>
                <lumx-button lumx-emphasis="low" lumx-size="m" lumx-variant="icon">
                    <lumx-icon lumx-path="{{ vm.icons.mdiDotsVertical }}"></lumx-icon>
                </lumx-button>
            </div>
        </lumx-expansion-panel-header>

        <lumx-expansion-panel-content>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
        </lumx-expansion-panel-content>
    </lumx-expansion-panel>

    <lumx-expansion-panel class="mt+" lumx-is-open="vm.isOpen">
        <lumx-expansion-panel-header>
            <div class="pl+" lumx-grid-container="row" lumx-grid-v-align="middle">
                <img
                    src="demo/angularjs/components/expansion-panel/partials/thumbnail-m-(36).png"
                    width="36"
                    height="36"
                /><span class="pl+ lumx-typography-body1" style="line-height:36px">Transparent background</span>
            </div>
        </lumx-expansion-panel-header>

        <lumx-expansion-panel-content>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
        </lumx-expansion-panel-content>
    </lumx-expansion-panel>
    <lumx-divider></lumx-divider>
    <lumx-expansion-panel lumx-is-open="vm.isOpen">
        <lumx-expansion-panel-header>
            <div class="pl+" lumx-grid-container="row" lumx-grid-v-align="middle">
                <img
                    src="demo/angularjs/components/expansion-panel/partials/thumbnail-m-(36).png"
                    width="36"
                    height="36"
                /><span class="pl+ lumx-typography-body1" style="line-height:36px">With dividers</span>
            </div>
        </lumx-expansion-panel-header>

        <lumx-expansion-panel-content>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
        </lumx-expansion-panel-content>
    </lumx-expansion-panel>
    <lumx-divider></lumx-divider>
    <lumx-expansion-panel lumx-is-open="vm.isOpen">
        <lumx-expansion-panel-header>
            <div class="pl+" lumx-grid-container="row" lumx-grid-v-align="middle">
                <img
                    src="demo/angularjs/components/expansion-panel/partials/thumbnail-m-(36).png"
                    width="36"
                    height="36"
                /><span class="pl+ lumx-typography-body1" style="line-height:36px">Between expansion panels</span>
            </div>
        </lumx-expansion-panel-header>

        <lumx-expansion-panel-content>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
        </lumx-expansion-panel-content>
    </lumx-expansion-panel>
</div>
