<main-header category="Components" title="Expansion panel">
    <p>
        Expansion panels help organize content and hierarchy into individual sections. They may contain forms or short
        descriptions.
    </p>
</main-header>

<main-block
    class="mt+++"
    title="Default"
    path="demo/angularjs/components/expansion-panel/partials/default.html"
    js-path="demo/angularjs/components/expansion-panel/controller.js"
>
</main-block>

<main-block
    class="mt+++"
    title=""
    path="demo/angularjs/components/expansion-panel/partials/drag.html"
    js-path="demo/angularjs/components/expansion-panel/controller.js"
>
    <p class="lumx-typography-subtitle2">Drag option</p>
    <p>Expansion panel can be draggable</p>
</main-block>

<main-block
    class="mt+++"
    title="Examples"
    path="demo/angularjs/components/expansion-panel/partials/example-1.html"
    js-path="demo/angularjs/components/expansion-panel/controller.js"
>
</main-block>
